version: '3'

services:
  scrum-postgres:
    image: postgres:9.6-alpine
    container_name: scrum-postgres-v2
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=scrum
      - POSTGRES_USER=scrum
      - POSTGRES_PASSWORD=scrum
    volumes:
      - scrum-data:/var/lib/postgresql/data

  scrum-app:
    build: ./scrum-app
    container_name: scrum-app
    environment:
      - DB_SERVER=scrum-postgres
      - POSTGRES_DB=scrum
      - POSTGRES_USER=scrum
      - POSTGRES_PASSWORD=scrum
    ports:
      - "8081:8080"
    depends_on:
      - scrum-postgres

  scrum-ui:
    build: ./scrum-ui
    container_name: scrum-ui
    ports:
      - "4200:80"
    depends_on:
      - scrum-app

volumes:
  scrum-data:
